//- Navfoot Mixin 
mixin navfoot(pages, currentPage) 
  nav(class!=(attributes.class || 'navfoot'))   
    ul     
      each page, i in pages
        if(page[1] != currentPage[1])
          li
            a(href="#{page[1]}") #{page[0]}
