//- Social Media Mixin 
mixin social_media(sites)
  // AddToAny BEGIN
  div.a2a_kit.a2a_kit_size_32.a2a_default_style
    each site in sites
      - siteclass = 'a2a_button_' + site
      a(class=siteclass)
    //-a.a2a_dd( href='https://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.jade4php.com&amp;linkname=')              
  script(type='text/javascript').
    var a2a_config = a2a_config || {};
    a2a_config.linkname = "jade4php";
    a2a_config.linkurl = "http://www.jade4php.com";
  script(type='text/javascript' src='//static.addtoany.com/menu/page.js')
  // AddToAny END