extends jade/layout/master.jade

block config
  - currentPage = amaziumPage
  - title = title + ' - Amazium Page'

block content
  section.row
    article.grid_8     
      h2 The Amazium Responsive CSS Framework
      p
        | I really like Amazium. It is beautifully simple and the perfect partner for your Jade Templates. 
        |  On this page you will find some examples 
        | of what you can with it, If you want to know more head over to 
        a(href='http://www.amazium.co.uk') www.amazium.co.uk
        |  for a complete description and examples.
  section.row.grid-highlight
    article.grid_1 1
    article.grid_1 1
    article.grid_1 1
    article.grid_1 1
    article.grid_1 1
    article.grid_1 1
    article.grid_1 1
    article.grid_1 1
  section.row.grid-highlight
    article.grid_2 2
    article.grid_2 2
    article.grid_2 2
    article.grid_2 2
  section.row.grid-highlight
    article.grid_4 4
    article.grid_4 4
  section.row.grid-highlight
    article.grid_6 6
    article.grid_2 2
  section.row.grid-highlight
    article.grid_8 8
  section.row
    article.grid_8
      hr
      h3 Buttons
      p
        a.btn(href='#') Normal Button
        a.btn.red(href='#') Red Button
        a.btn.blue(href='#') Blue Button
        a.btn.green(href='#') Green Button
        a.btn.white(href='#') White Button
      p
        a.btn.small(href='#') Small Button
        a.btn.red.small(href='#') Small Red Button
        a.btn.blue.small(href='#') Small Blue Button
        a.btn.green.small(href='#') Small Green Button
        a.btn.white.small(href='#') Small White Button
      hr
      h3 Tables
      table(summary='This is an example of a table')
        thead
          tr
            th(scope='col') #ID:
            th(scope='col') First Name:
            th(scope='col') Last Name:
            th(scope='col') Location:
        tbody
          :php foreach($table as $row):
          //----------------------------------------------
          //- Assign php row expressions to jade variables
          - id         = php("$row['id']")
          - first_name = php("$row['first_name']")
          - last_name  = php("$row['last_name']")
          - location   = php("$row['location']")
          //----------------------------------------------
          tr
            td #!{id}
            td !{first_name}
            td !{last_name}
            td !{location}
          :php endforeach;
      hr
  section.row
    article.grid_4
      h3 100% Video
      .media
        iframe(src='http://player.vimeo.com/video/21465475?title=0&byline=0&portrait=0&color=ffffff&autoplay=0', frameborder='0')
    article.grid_4
      h3 100% Image
      img.img-max(src='img/blank.jpg', border='0', alt='blank image')
  