extends jade/layout/master.jade

block config
  - currentPage = conditionalPage
  - title = title + ' - Conditional PHP'

block content
  h2 Conditional PHP
  P.
    Jade4php supports single line filters, so that it is possible to write
  pre
    code. 
      :PHP if(php expression):
      ...do something...
      :PHP else:
      ... do something else...
      :php endif;
  p
    :php if ($isHeads):
    h1 Heads
    :php else:
    h1 Tails
    :php endif;
  p
    form(method='GET', action='/conditional.php')
      input(type='submit', value='Reload this page (you may have to do this a few times it depends how lucky you are) and see if you get Heads or Tails')
  h3 paras.jade
  pre
    code.
      :php if($isHeads):
      h1 Heads
      :php else:
      h1 Tails
      :php endif;        
  h3 paras.php
  pre
    code.
      &lt;?php
      include "lib/Template.class.php";
      $template = new Template();
      $template->assign('isHeads', rand(1,10) > 5 ? true : false);
      $template-&gt;display('templates/conditional.phtml');

