extends jade/layout/master.jade

block config
  - currentPage = paraPage
  - title = title + ' - Paragraph Text'

block content
  h2 Paragraph Text
  p
    :php(echo) $para_1
  p
    :php(echo) $para_2
  h3 paras.jade
  pre
    code.
      p
        :php(echo) $para_1
      p
        :php(echo) $para_2         
  h3 paras.php
  pre
    code.
      &lt;?php
      include "lib/Template.class.php";
      $template = new Template();

      $p1 = &lt;&lt;&lt;'EOT1'
      &lt;Lorem &amp; ipsum&gt; dolor sit amet, consectetur adipiscing elit. 
      Donec pellentesque, ex a condimentum finibus, ex lorem egestas nisi, 
      non semper lectus libero id ante. Maecenas eu faucibus magna. 
      Aliquam eget sapien aliquet, venenatis tellus ut, tincidunt magna. 
      Nunc ut nulla pharetra, commodo mauris sed, posuere tellus. Donec 
      mattis magna id pharetra ornare. Sed ultricies commodo faucibus. 
      Morbi fringilla aliquet ex non mollis. Etiam ut nulla ut nulla 
      vestibulum consectetur a id mi. Integer tincidunt semper vestibulum. 
      Pellentesque lobortis lacus eget est interdum, sed pharetra nisl 
      malesuada. Pellentesque luctus nunc nec velit egestas pretium vel 
      a lorem. Aenean sagittis nulla dolor, id malesuada sapien mattis eu. 
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
      per inceptos himenaeos. Duis sollicitudin, lectus et tempor mattis, 
      orci turpis tincidunt dolor, et malesuada lacus est ac orci.
      EOT1;

      $p2 = &lt;&lt;&lt;'EOT2'
      Nullam a dolor id arcu semper finibus ut pulvinar orci. Proin 
      sodales nisi et dictum pulvinar. Duis orci velit, suscipit et 
      porttitor gravida, molestie ac purus. Cum sociis natoque penatibus 
      et magnis dis parturient montes, nascetur ridiculus mus. Cras felis 
      neque, gravida a blandit ac, rutrum ut sapien. Vivamus tincidunt 
      volutpat libero eget tempor. Nam dolor mauris, mollis in euismod 
      vitae, viverra ac libero
      EOT2;

      $template-&gt;assign('para_1', $p1);
      $template-&gt;assign('para_2', $p2);
      $template-&gt;display('templates/paras.phtml');