extends jade/layout/master.jade

block config
  - currentPage = projectPage
  - title = title + ' - Project Folders'

block content
  h2 Project Folders
  p.
    The example project is organised as follows:
  //-image(src="")
