extends jade/layout/master.jade

block config
  - currentPage = projectPage
  - title = title + ' - Project Folders'

block content
  h2 Project Folders
  p.
    The example project is organised as follows:
  ol.treelist
    li.folder Your project folder
      ol.treelist
        li.folder htdocs
          br
          p This is the web root folder for your project.
          ol.treelist
            li.folder css
              br
              p This folder contains all of the stylesheets for the project.
            li.folder img
              br
              p This folder contains all of the images for the project.        
            li.folder js
              br
              p This folder contains all of the javascript file for the project.        
            li.folder lib
              br
              p This folder contains PHP classes used in the project.        
            li.folder templates
              br
              p This folder contains the generated  .phtml template files used in the project.       
            li.file PHP Source Files
        li.folder jade
          ol.treelist
            li.folder layout
              br
              p This folder contains the jade master layout templates.        
            li.folder mixins
              br
              p This folder contains the jade mixins used in the project (e.g. menus)        
            li.file Jade Templates
        li.folder node_modules
              br
              p This folder contains the node.js modules required by your project.   
        li.file Gruntfile.js
              br
              p This is the grunt task file to perform the taks you will need in your development workflow (e.g. compile the jade templates)   
        li.file package.json
              br
              p This file contains the definition of the node.js dependencies for the node package manager (npm)     
        li.file phpinfo.php
              br
              p phpinfo file to check that php is installed correctly.

