//- Config

//- Compile-time config variables
- sellPage = ['Show-N-Sell Entry Form', 'entryform-shownsellSJ.php']
- homePage = ['Introduction', 'index.php']
- setupPage = ['Setup', 'setup.php']
- paraPage = ['Paragraph Text', 'paras.php']
- tablesPage = ['Tables', 'tables.php']
- conditionalPage = ['Conditional PHP', 'conditional.php']
- formsPage = ['Amazium Forms', 'forms.php']
- menuPage = ['Menus', 'menu.php']
- amaziumPage = ['Amazium CSS', 'amazium.php']
- projectPage = ['Project Folders', 'project.php']
- currentPage = sellPage
- menuPages = [homePage, setupPage, projectPage, paraPage, tablesPage, menuPage, conditionalPage, amaziumPage, formsPage]
- sites = ['facebook', 'twitter', 'google_plus', 'tumblr']
- title = 'Sport Compact Group | Sydney Jamboree'
