include ../mixins/navpanel.jade
include ../mixins/navfoot.jade
//- Compile-time config variables
- homePage = ['introduction', 'index.php']
- setupPage = ['Setup', 'setup.php']
- paraPage = ['Paragraph Text', 'paras.php']
- tablesPage = ['Tables', 'tables.php']
- conditionalPage = ['Conditional PHP', 'conditional.php']
- formsPage = ['Amazium Forms', 'forms.php']
- menuPage = ['Menus', 'menu.php']
- amaziumPage = ['Amazium CSS', 'amazium.php']
- projectPage = ['Project Folders', 'project.php']
- currentPage = homePage
- title = 'Jade4PHP example'
//- Read config variables from page extension
block config
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="description" content="")
    meta(name="author" content="")
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    //- Mobile Specific Metas
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    //- font-awesome
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

    //- Google fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400' rel='stylesheet' type='text/css')

    //- Amazium CSS
    link(rel="stylesheet" href="css/base.css")
    link(rel="stylesheet" href="css/amazium.css")
    link(rel="stylesheet" href="css/form.css")
    link(rel="stylesheet" href="css/layout.css")

    //- Favicons
    link(rel="shortcut icon" href="images/favicon.ico")
    link(rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png")

  body
    header.row
      div.grid_6
        image(src="img/logo.png")
      div.grid_6.txt-right
        h3 
          a(href="https://github.com/BookArt/jade4php-example/archive/master.zip") download&nbsp;
            span.fa.fa-download
        br
        div.social &nbsp
          //- fb tw etc
      hr
    section.row
      br
      h2.page-title Getting started with jade4php
      br
    section.row
      article.grid_3
        +navpanel([homePage, setupPage, projectPage, paraPage, tablesPage, menuPage, conditionalPage, amaziumPage, formsPage], currentPage)
      article.grid_9
        block content
    footer.row.txt-center
      +navfoot([homePage, setupPage, projectPage, paraPage, tablesPage, menuPage, conditionalPage, amaziumPage, formsPage], currentPage)
      | Copyright 2014 
      a(href='http://www.jade4php.com') www.jade4php.com
      | . All rights reserved.
      br
    //- Scripts
    script(type="text/javascript" src="js/jquery-1.8.0.min.js")
    script(type="text/javascript" src="js/amazium.js")