//- Mixins
include ../mixins/navpanel.jade
include ../mixins/navfoot.jade
include ../mixins/social_media.jade

//- Config
include ../includes/config.jade

//- Read config variables from page extension
block config

doctype html
html(lang="en")
  head
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    
    meta(charset="utf-8")
    title #{title}
    meta(name="description" content="Jade4PHP is a an extension for Jade.js allowing you to create beautiful jade templates for PHP")
    meta(name="author" content="Brian Etherington")

    //- Mobile Specific Metas
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    //- Styles
    include ../includes/styles.jade

  body
    header.row
      div.grid_6
        span
          a.show-screen(href="https://github.com/BookArt/jade4php" target="_blank")
            image(src="img/logo.png")
        span
          a.show-tablet(href="https://github.com/BookArt/jade4php" target="_blank")
            image(src="img/logo.png")
        span
          a.show-mobile.float-left(href="https://github.com/BookArt/jade4php" target="_blank")
            image(src="img/logo.png" width="200px")
        span
          a.show-mobile#navigation-btn(href="#") 
            span.fa.fa-bars.fa-2x
      div.grid_6.txt-right
        h3.download
          a(href="https://github.com/BookArt/jade4php-example/archive/master.zip") download&nbsp;
            span.fa.fa-download
        div.social
          +social_media(sites)       
      hr
    section.row
      br
      h2.indent Getting started with jade4php
      br
    section.row
      article.grid_3#navigation
        +navpanel(menuPages, currentPage)
      article.grid_9
        block content
    footer.row.txt-center
      +navfoot(menuPages, currentPage)
      | Copyright 2014 
      a(href='http://www.jade4php.com') www.jade4php.com
      | . All rights reserved.
      br
    //- Scripts
    include ../includes/scripts.jade
